.root {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);
  box-shadow: var(--mantine-elevation-light-4);
  padding: 16px;
}

.body {
  margin-left: 16px;
}

.title {
  color: var(--mantine-color-dark-5);
  font-weight: 500;
  margin-bottom: 8px;
}

.description {
  color: var(--mantine-color-dark-5);
}

.closeButton {
  color: var(--mantine-color-gray-3);

  &:hover {
    color: var(--mantine-color-black);
  }
}

.icon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-right: 0;
}
