.blurred-text {
  filter: blur(5px);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(500px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.participant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  height: 100%;
  border-radius: 10px;
}

.name-section {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold; /* Makes the text bolder */
  border-top-left-radius: 10px; /* Smooths the top-left edge */
  border-top-right-radius: 10px; /* Smooths the top-right edge */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: start; /* Aligns buttons to the start of the container */
  gap: 20px; /* Adjusts the gap between buttons */
  margin-top: 20px; /* Adds space above the buttons */
}

.character-traits {
  text-align: center;
  background-color: #98ff98; /* Mint Green */
  margin-bottom: 10px;
}

/* ModalStyles.css */
.sessionModal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  outline: none;
}

.qrContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 1000; /* Ensure it stays on top */
}
