.layoutNavigationLink {
  &:global {
    &.active {
      color: var(--mantine-color-blue-5);
    }
  }

  &:hover {
    .layoutNavigationLinkText {
      color: var(--mantine-color-blue-5);
    }
  }

  &-icon {
    color: var(--mantine-color-blue-5);
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
